/*
* Kvarteret.no v2.0
* Copyright 2012, Det Akademiske Kvarter
* http://kvarteret.no
* Developed by: 
* 	Torstein Thune (http://thunemedia.no)
*	Snorre Davøen (http://github.com/snorremd)
*	Lisa Halvorsen (http://github.com/lha047)
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.left {
	float:left;
}
.right {
	float: right;
}
.center {
	margin: 0 auto;
}
.text_center {
	text-align: center;
}
.no_padding {
	padding: 0 !important;
}
.full_width {
	margin-left: -12px;
}
.to_the_top {
	margin-top: -12px;
}
.standard_padding {
	padding: 12px;
}
.no_margin {
	margin:0 !important;
}
.standard_right_margin {
	margin-right: 12px;
}
.no_right_margin {
	margin-right: 0 !important;
}
.no_left_margin {
	margin-left: 0 !important;
}
.hidden {
	display: none;
}

body {
	background: url('../images/background.jpg') center top no-repeat #000;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.message {
	background: #FFF464;
	padding: 12px;
	margin: 12px;
}
.standard_wrapper {
	background: #fff;
}

img.responsive, article_content img, .wp-caption img {
	width: 100% !important; /*important because wordpress inserts width and height as html*/
	height: auto !important;
}
	.wp-caption {
		max-width: 100% !important;
	}

header#main_header {
	margin-top: 150px;
	position: relative;
	background: #fff;
	
	padding-top: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
	#main_header:before {
		border-left: 475px solid transparent;
		border-right: 475px solid transparent;
		border-bottom: 114px solid #fff;
		position: absolute;
		top:-114px;
		left: 5px;
		content:''
		
	}
	#kvarteret_feeds {
		position:absolute;
		top: -30px;
		right: 50%;
		margin:0;
		margin-right: 100px;
	}
		#kvarteret_feeds li{
			display: inline-block;
			margin-left: 10px;
		}
	#search {
		position: absolute;
		top: -30px;
		left: 50%;
		margin: 0;
		margin-left: 100px;
	}
		#search input {
			border: 1px solid #ccc;
			border-radius: 3px;
			width: 100px;
			float:left;
		}
		#search button {
			text-indent: -9999px;
			background: url('../images/search.png') center center no-repeat;
			width: 25px;
			margin-top:-1px;

			border: 0;
		}
			#search button:active {
				margin-top:0;
			}
	#main_header #main_nav {			
		background: rgb(229,25,15); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(229,25,15,1) 0%, rgba(168,18,11,1) 100%, rgba(168,18,11,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,25,15,1)), color-stop(100%,rgba(168,18,11,1)), color-stop(100%,rgba(168,18,11,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(229,25,15,1) 0%,rgba(168,18,11,1) 100%,rgba(168,18,11,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(229,25,15,1) 0%,rgba(168,18,11,1) 100%,rgba(168,18,11,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(229,25,15,1) 0%,rgba(168,18,11,1) 100%,rgba(168,18,11,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(229,25,15,1) 0%,rgba(168,18,11,1) 100%,rgba(168,18,11,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5190f', endColorstr='#a8120b',GradientType=0 ); /* IE6-9 */
		
		font-family: 'Bebas Neue', Tahoma, Helvetica, Arial, sans-serif;
		font-size: 1.5em;
		height: 46px;
		
		position: relative;
		width: 960px;
		margin-left: -12px;
		
		padding-left: 12px;
		padding-right: 12px;

		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
		li.active {
			position:relative;
		}
		#main_nav li.current-menu-item:after, li.active:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -8px;
			border-bottom: 8px solid #fff;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			content: '';

		}
		#main_header #main_nav:before {
			border-bottom: 12px solid transparent;
			border-right: 12px solid #850E07;
			border-left: 12px solid transparent;
			content: '';
			position: absolute;
			bottom: -12px;
			z-index: 10;
			left: -12px;
		}
		#main_header #main_nav:after {
			border-bottom: 12px solid transparent;
			border-left: 12px solid #850E07;
			border-right: 12px solid transparent;
			content: '';
			position: absolute;
			bottom: -12px;
			z-index: 10;
			right: -12px;
		}
		#main_header #main_nav a {
			line-height: 46px;
			color: #fff;
			text-decoration: none;
		}
			#main_header #main_nav a:hover {
				color: #ccc;
				text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
			}
		#main_header #main_nav .left ul > li, #main_header #main_nav .right ul > li {
			position: relative;
		}
			#main_header #main_nav .left ul{
				margin: 0;
				margin-left: 12px;
			}
				#main_header #main_nav .left ul > li {
					float: left;
					margin-right: 15px;
				}
			#main_header #main_nav .right ul {
				margin:0;
				margin-right: 12px;
				text-align: right;
			}
				#main_header #main_nav .right ul > li {
					display: inline-block;
					margin-left: 15px;
				}
		#main_header #main_nav .sub-menu {
			position: absolute;
			left: 50%;
			margin-left; -100px;
			width: 200px;
			background: rgba(0,0,0,0.8);
			border-radius: 5px;
			z-index: 20;
			display:none;
		}
	#logo {
		display: block;
		position:absolute;
		z-index: 10;
		margin: 0 auto;
		width: 124px;
		left: 50%;
		margin-left: -60px;
		top: -86px;
	}
	#logo_dark {
		display: none;
	}
	#language_selection {
		position:absolute;
		top: 0;
		right: 0;
	}
#opening_times {
	text-align:center;
	padding: 12px;
	
	position:relative;
	z-index:1;
	
	background: #eee;
}
	#opening_times ul {
		list-style: disc outside none;
		margin:0;
	}
		#opening_times li {
			display: inline-block;
			margin-bottom:0;
		}

header.event {
	background: #000;
	color: #fff;
	padding: 0px 24px;
	margin: 0;
	height: 35px;
	line-height: 35px;
}
	header.event h2 {
		float:left;
		color: #fff;
		font-family: 'Bebas Neue', Tahoma, sans-serif;
		line-height: 35px;
	}
	header.event a {
		color: #fff;
	}
		header.event a:hover {
			text-decoration: underline;
		}
	header.event nav ul {
		text-align: center;
		padding: 0;
		margin:0;
		height: 35px;
	}
		header.event nav li {
			display: inline-block;
			height: 35px;
			margin:0;
			padding: 0px 6px;
		}
	
.content_container {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 12px;
}
	.sidebar {
		float: right;
	}
	.date {
		background: #000;
		color: #fff;
		padding: 6px;
		margin-bottom: 12px;
	}
	.author {
		padding-bottom: 12px;
	}
	.author:last-of-type {
		margin-bottom: 24px;
		border-bottom: 1px solid #ccc;
	}
		
footer {
	margin-bottom: 48px;
}
	footer .standard_wrapper {
		padding-top: 24px;
		padding-left: 48px;
		background: rgb(64,64,64); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(64,64,64,1) 0%, rgba(26,26,26,1) 100%); /* FF3.6+ */
		background: url(../images/footer-penguins.png) bottom center no-repeat, -webkit-linear-gradient(top,  rgba(64,64,64,1) 0%,rgba(26,26,26,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(64,64,64,1) 0%,rgba(26,26,26,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(64,64,64,1) 0%,rgba(26,26,26,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(64,64,64,1) 0%,rgba(26,26,26,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
		
		border-radius: 5px;
		border: 1px solid #404040;
		
		min-height: 285px;
		margin-bottom: 12px;

	}
	footer h2 {
		font-size: 14px;
		font-weight: bold;
		color: #ccc;
	}
	footer p {
		color: #fff;
	}
	footer nav {
	}

/* #Page Styles
================================================== */
/* single & page & single_event */
.article_header, .single_header {
	margin-bottom: 24px;
}

/* Frontpage */
.featured_articles a.clearfix, .article_header {
	position: relative;
	display: block;
	text-decoration: none;
}
.featured_articles h2, .article_header h1 {
	background: rgba(0,0,0,0.9);
	position:absolute;
	bottom:0;
	margin-bottom: 0;

	font-family: 'Bebas Neue', Tahoma, sans-serif;
	font-size: 40px;
	line-height: 82px;
	color: #fff;
	text-align:center;
	width: 100%;
}

/* frontpage */

.photostream {
	height: 500px;
	background: #000;
	color: #fff;
}
	.photostream h2 {
		color: #fff;
	}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#logo_dark {
			display:inline;
		}
		#logo_light {
			display:none;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#main_header {
			margin-top: 113px;
			/*height: 100px;*/
		}
			#main_header:before {
				border-left: 379px solid transparent;
				border-right: 379px solid transparent;
				border-bottom: 89px solid #fff;
				top: -89px;
			}
			#logo {
				top: -75px;
			}
				
			#main_header #main_nav {
				width: 768px;
				margin-top: 60px;
			}
				/*header nav:before, header nav:after {
					border:0;
				}*/
			#kvarteret_feeds, #search {
				top: 0px;
				postion: relative;
			}
		footer .standard_wrapper {
			padding-left: 24px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#main_header {
			margin-top: 64px !important;
		}
			#main_header:before {
				border:0;
			}
			#logo {
				position:static;
				margin:0 auto;
			}
			#kvarteret_feeds, #search {
				position: static;
			}
			#kvarteret_feeds {
				float:left;
				margin-top: 24px;
			}
			#search {
				float:right;
				margin-top:-30px;
			}
			#main_header #main_nav {
				clear:both;
				position: fixed;
				z-index: 100;
				top:0;
				left:0;
				width:100%;

				box-shadow: 5px 0px 5px 5px rgba(0,0,0,0.5);
			}
			#opening_times {
				clear:both;
			}
				#opening_times li {
					float: none;
					displaY: block;
				}
		.article_header h1 {
			position: static;
			padding: 12px;
			width: auto;
		}
		.article_content {
			padding: 12px !important;
		}

		.featured_articles h2 {
			position: static;
			background: #000;
		}
		footer .standard_wrapper {
			text-align: center;
			padding-left: 0;
			padding-bottom: 130px;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#kvarteret_feeds, #search {
			display:block;
			text-align:center;
			float:none;
			margin: 12px auto 12px auto;
		}
	
	}


/* #Font-Face
================================================== */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}